[FR] replacement with ECC-GOST12 according to RFC9558

Hello, colleagues!

I have writen small patch for NSD to work with ECC-GOST12 described in RFC9558. This is just a "knowledge" of algorithm 23 for NSD. The patch looks like as follows:

```
diff -x '*.o' -x '*.lo' -x '.libs/*' -ru nsd-4.14.0/rdata.c nsd-4.14.0_GOST12-256/rdata.c
--- nsd-4.14.0/rdata.c  2025-12-04 13:17:02.000000000 +0300
+++ nsd-4.14.0_GOST12-256/rdata.c       2025-12-25 14:43:49.079971005 +0300
@@ -58,11 +58,12 @@
        { 7, "RSASHA1-NSEC3-SHA1" },    /* RFC 5155 */
        { 8, "RSASHA256" },             /* RFC 5702 */
        { 10, "RSASHA512" },            /* RFC 5702 */
-       { 12, "ECC-GOST" },             /* RFC 5933 */
+       { 12, "ECC-GOST" },             /* RFC 5933, obsolete */
        { 13, "ECDSAP256SHA256" },      /* RFC 6605 */
        { 14, "ECDSAP384SHA384" },      /* RFC 6605 */
        { 15, "ED25519" },              /* RFC 8080 */
        { 16, "ED448" },                /* RFC 8080 */
+       { 23, "ECC-GOST12" },           /* RFC 9558 */
        { 252, "INDIRECT" },
        { 253, "PRIVATEDNS" },
        { 254, "PRIVATEOID" },
diff -x '*.o' -x '*.lo' -x '.libs/*' -ru nsd-4.14.0/simdzone/src/generic/algorithm.h nsd-4.14.0_GOST12-256/simdzone/src/generic/algorithm.h
--- nsd-4.14.0/simdzone/src/generic/algorithm.h 2025-12-04 13:17:03.000000000 +0300
+++ nsd-4.14.0_GOST12-256/simdzone/src/generic/algorithm.h      2025-12-25 14:42:15.182520383 +0300
@@ -42,6 +42,7 @@
   ALGORITHM("ECDSAP256SHA256", 13),
   ALGORITHM("ECDSAP384SHA384", 14),
   BAD_ALGORITHM(15),
+  ALGORITHM("ECC-GOST12", 23),
   ALGORITHM("INDIRECT", 252),
   ALGORITHM("PRIVATEDNS", 253),
   ALGORITHM("PRIVATEOID", 254),
```

Also, yesterday, i have sent fixpack for Unbound to you.

This fix belongs in simdzone not nsd - https://github.com/NLnetLabs/simdzone/pull/265

> This fix belongs in simdzone not nsd - [NLnetLabs/simdzone#265](https://github.com/NLnetLabs/simdzone/pull/265)

Ok. Thank you for important note!

> > This fix belongs in simdzone not nsd - [NLnetLabs/simdzone#265](https://github.com/NLnetLabs/simdzone/pull/265)
> 
> Ok. Thank you for important note!

There was also some related code here so https://github.com/NLnetLabs/nsd/pull/506 applies as well.